{% extends 'base.html'%}
{% block title %}
Change Password
{% endblock %}

{% block content %}

{% comment %} title overwrites base.html title of CreateQuote  {% endcomment %}
{% comment %} We do not need a logout page - django.contrib.auth.urls handlesthe logout.html {% endcomment %}
<h1>Change Password</h1>
<div class="form-group">
    {% comment %} Do not close the <form> tag {% endcomment %}
    <form method="POST">
        {% csrf_token %}
        {{ form.errors }}
        <br><br>
        Old Password:<br>
        {{ form.old_password }}
        <br><br>
        New Password<br>
        {{ form.new_password1 }}
        <br><br>
        Password Confirmation<br>
        {{ form.new_password2 }}
        {% comment %} {{ form.as_p }} {% endcomment %}
        <button class="btn btn-secondary">Change Password</button>
        <br>
        <br>
        <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>
    </div>

        <br>
        <br>

{% endblock %}    