{% extends 'base.html'%}
{% block content %}


<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">About</h1>
    <p>Full Service Web Design Agency
  CreateDev Crew offers website design and development, search engine optimization, 
  and branding services. We are a local service that provides professional website design and development, 
  search engine optimization services and branding to a wide range of clients in Memphis.</p>
    <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
    <h4>Branding</h4>
    <p>Create Dev Crew offers a wide range of branding services that 
        include logo design, website design, brand guidelines, and brand identity.</p>
    Web Design
  We offer a full suite of web design services including responsive web design and custom development.

    <h4>Search Engine Optimization</h4>
    <p>Our SEO strategy includes keyword research and analysis, on-page optimization, 
      off-page optimization, link building strategies and more to help your website rank
      higher in search engine results pages (SERPs).h</p>
      
        
    <h4>Content Strategy</h4>
    <p>We offer comprehensive content strategy services that are tailored for each client’s 
      needs. From blog posts to emails to white papers we have you covered with our team of 
      experienced writers who know how to write for your audience.
    </p>
  
    <h4>Information Architecture</h4>
    <p>We have experience with MySQL databases and can build custom databases for any of your 
      projects. We also offer database hosting services.
    </p>
  
    <h4>Consulting</h4>
    <p>We also offer our clients the opportunity to work with us on their existing website or
       application with our software consulting services.
    </p>
    
  </div>
</div>
{% endblock %}
