{% extends 'base.html'%}
{% block title %}Delete Client{% endblock %}
{% block content %}

    {% comment %} title overwrites base.html title of CreateQuote  {% endcomment %}

    {% comment %} we need a success_url to tell us where to go after deleting a client {% endcomment %}
    {% if user.is_authenticated %}
        <h1>Delete Project</h1>
        <hr>
        <table>
            <h3>Delete: {{ project.project_name }}
        <form method="POST">
            {% csrf_token %}    
            <strong>Are you sure?</strong><br><br>
            <button class="btn btn-secondary">Delete Project</button>
            <br>
            <br>
    {% else %}
        You do not have permission to do that.
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'home' %}">Back to home</a>
{% endblock %}    