{% extends 'base.html'%}
{% block content %}
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Frequently Asked Questions</h2>
            <p>Questions from CEOs, developers, investors, small business owners, and students.</p>
            <button class="btn btn-outline-light" type="button">Example button</button>
            
            <h2>How do I register my account</h2>
            <p>Or, keep it light and add a border for some added definition to the boundaries of your content. 
                Be sure to look under the hood at the source HTML here as we've adjusted the alignment and
                sizing of both column's content for equal-height.</p>

            <h2>How do I Contact the admin</h2>
            <p>Or, keep it light and add a border for some added definition to the boundaries of your content. 
                Be sure to look under the hood at the source HTML here as we've adjusted the alignment and
                sizing of both column's content for equal-height.</p>

            <h2>Add a team member to your organization group</h2>
            <p>Or, keep it light and add a border for some added definition to the boundaries of your content. 
                Be sure to look under the hood at the source HTML here as we've adjusted the alignment and
                sizing of both column's content for equal-height.</p>

            <h2>How do I register my account</h2>
            <p>Or, keep it light and add a border for some added definition to the boundaries of your content. 
                Be sure to look under the hood at the source HTML here as we've adjusted the alignment and
                sizing of both column's content for equal-height.</p>

            <h2>How do I register my account</h2>
            <p>Or, keep it light and add a border for some added definition to the boundaries of your content. 
                Be sure to look under the hood at the source HTML here as we've adjusted the alignment and
                sizing of both column's content for equal-height.</p>
            

        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Questions</h2>
            <ol>
                <p> General</p>
                <li>How do I ...?</li>
                    <ol>
                        <li>Register my account</li>
                        <li>Contact the admin</li>
                    </ol>    
                <li>Team Support</li>
                    <ol>
                        <li>Add a team member</li>
                        <li>Update a team member's profile</li>
                        <li>Assign team member an assignment/task</li>
                    </ol>
                <li>Equipment</li>
                    <ol>
                        <li>What kind of server architecture is used?</li>
                        <li>Where is the database stored?</li>
                        <li>Can I upgrade my equipment?</li>
                        <li>How long does it take to upgrade the equipment?</li>
                    </ol>
                <li>Security</li>
                    <ol>
                        <li>What sort of security measures are taken to protect my data?</li>
                        <li>What happens if I forget my password?</li>
                        <li>Why is 2-Factor Authentication required?</li>
                        <li>How do I change the interval for password resets?</li>
                    </ol>
                <li>Design</li>
                    <ol>
                        <li>Can I submit my own or previously used designs for a new website?</li>
                        <li>How long does it take for each design iteration?</li>
                        <li>What does the designer need from me for a successful design?</li>
                    </ol>
           
            </ol>
        </div>
    </div>
</div>
{% endblock %}