
{% extends 'base.html'%}
{% load static %}

{% block content %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'createquote/css/styles.css' %}">
  </head>
  <body>
    <img class="center-hero" src="{% static 'createquote/images/banners/cdc-horiz.png' %}">
    {% if user.email == 'tony@createdevcrew.com' %} 
        <h1>Hello, Admin</h1>
        <h2>Companies</h2>
        <ul>
        {% comment %} FIX: Show only clients and detail will list all their projects     {% endcomment %}
        {% for company in object_list %}
            <li><a href="{% url 'company_detail' company.pk %}">
                {{ company.company_name }}</a> - 
                <small>
                    <a href="{% url 'update_company' company.pk %}">(Edit)</a>
                    
                    <a href="{% url 'delete_company' company.pk %}">(Delete)</a>
                </small><br>
            </li>
        {% endfor %}
        <ul>
    {% elif user.is_authenticated %}
        <h1>Hello, {{ user.first_name }} 
        <h2>My Companies: </h2>  
        {% for company in object_list %}
          <a href="{% url 'company_detail' company.pk %}">
                {% if  company.company_owner.email ==  user.email %}
                    {{company.company_name}}
                {% endif %}
        {% endfor %}

    {% else %}
            <h1>Hello Guest</h1>
            <p>Request for Account Initialization <a href="#">here.</a></p>
            <p>Register a new account or login to your existing account.</p>
            <p><b>Purpose:</b> This web app serves as a communication nexus for clients and employees of CreateDev. This app allows 
            for a streamlined communication experience between clients and our crew. As an employee, you may request an employee acount promotion
            after registering your account. Once your account has been upgraded, the employee dashboard interface will update with 
            tools for taking inquiries and responding to them. </p>   
    {% endif %}
            </body>
{% endblock %}
</html>