{% extends 'base.html'%}
{% block content %}
    {% if user.is_authenticated %} 
        <h1>Clients</h1>
        <ul>
        {% comment %} FIX: Show only clients and detail will list all their projects     {% endcomment %}
        {% for client in object_list %}
            <li><a href="{% url 'client_detail' client.pk %}">
                {{ client.client_name.first_name }} {{ client.client_name.last_name }}</a> - 
                                
                        <small>
                            <a href="{% url 'update_client' client.pk %}">(Edit)</a>
                            
                            <a href="{% url 'delete_client' client.pk %}">(Delete)</a>
                        </small><br>
                {{ client.company }}
            </li>
        {% endfor %}
        <ul>
    {% else %}
            <p>Hello Guest</p>
            
    {% endif %}

{% endblock %}    