{% extends 'base.html'%}
{% block title %}{{ client.client_name.first_name }} {{ client.client_name.last_name }}{% endblock %}

{% block content %}

    <h1>Project Details: {{ client.client_name.first_name }} {{ client.client_name.last_name }} </h1>  
    <hr>
    <p>Project Name: {{project.project_name}} </p>
    <p>Project Owner: {{project.project_owner}} </p>
    <p>Description: {{project.description}} </p>
    <p>Website: {{project.website}} </p>
    <p>Budget: ${{project.budget}} </p>
    <a class="btn btn-secondary" href="{% url 'home' %}">Back to home</a>
    
{% endblock %}