{% include 'base.html' %}
{% block content %}


<div class="container">
    <h1>Tickets</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col">Assignee</th>
      <th scope="col">Created on</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in object_list %}
    <tr>
      <th scope="row">{{ ticket.pk }}</th>
      <td><a href="{% url 'ticket_details' ticket.pk %}"> {{ ticket.title|safe }}</a></td>
      <td>{{ ticket.status }}</td>
      <td>{{ ticket.assignee }}</td>
      <td>{{ ticket.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<br>
<div class="container">
<a class="btn btn-primary" href="{% url 'create_ticket' %}">Create a ticket</a>

</div>
{% endblock %}    